.Rproj.user
.Rhistory
.RData
.Ruserdata
ch1_landing.Rproj
ows_all_LAND_v1.csv
ows_complete_v1.csv
usgs_pbear_gps_ccde16_v20170131.csv
ows_land_v2.csv
traj_summary_v1.csv
landfall.csv
schema.ini
21days.csv
Shapefiles
Land.csv
Landing.csv
data080918.csv
swim.csv
pbears.RData
sbs_daily_icestats_1979_2017_v4_dcd.csv
swim_ice.RData
swim_ice.Rda
all.RData
SB_paths_landsummary_1986-2012_for KL.csv
ta_gps.csv
swimHMM.RData
temp.csv
BCPA_test
swim.az.RData
swim_az_v2.csv
swim_az.csv
test.csv
swim_092618_v2.csv
95% Core Area.dbf
95% Core Area.shp
95% Core Area.shx
Migration.html
map_migration.png
Migration_dist.RData
Str_line_dist.RData
sbs_daily_icestats_1979_2017_v6.csv
FD.RData
ows_land.RData
Migration_notebook.html
SIC TIFs
SIC.RData
arctic_AMSRE.tif
SIC_df.RData
SIC_spdf.RData
start_mig_DD
start_mig_DD.RData
NewDef.RData
undecided.RData
NewDef.ice.RData
SIC_TIFs
SIC-TIFs
all_031919.RData
GitHub_test.RData
SIC_chronicle.nb.html
