.Rproj.user
.Rhistory
.RData
.Ruserdata
ch1_landing.Rproj
ows_all_LAND_v1.csv
ows_complete_v1.csv
usgs_pbear_gps_ccde16_v20170131.csv
ows_land_v2.csv
traj_summary_v1.csv
landfall.csv
schema.ini
21days.csv
Shapefiles
Land.csv
Landing.csv
data080918.csv
swim.csv
pbears.RData
sbs_daily_icestats_1979_2017_v4_dcd.csv
swim_ice.RData
swim_ice.Rda
all.RData
SB_paths_landsummary_1986-2012_for KL.csv
ta_gps.csv
